---
layout: archive
title: "Bakalársky seminár"
permalink: /bachelor-seminar/
author_profile: true
---

{% include base_path %}

<div>
  <h2>Základné informácie</h2>
  <ul>
    <li><strong>Meno študenta:</strong> Samuel Bležák</li>
    <li><strong>Kontakt:</strong> blezak1@uniba.sk</li>
    <li><strong>Názov práce:</strong> Procedurálne generovanie modelov stromov</li>
    <li><strong>Meno školiteľa:</strong> prof. RNDr. Roman Ďurikovič, PhD.</li>
  </ul>
</div>

<h2>Zadanie práce</h2>
<p><strong>Anotácia:</strong> Inšpirované prácou „Interactive Invigoration: Volumetric Modeling of Trees with Strands“ 
  (Invigoration Paper), ktorá skúma objemové modelovanie, táto téma prispôsobuje daný koncept na procedurálne generovanie na bakalárskej úrovni.</p>
  
<p><strong>Cieľ:</strong> Študenti by vyvinuli program na 
  generovanie realistických modelov stromov pomocou techník založených na 
  vetvení, ako sú L-systémy alebo parametrické modelovanie. Projekt by umožňoval 
  prispôsobenie charakteristík stromov (napr. hrúbka kmeňa, dĺžka konárov, hustota listov) 
  a mohol by zahŕňať vizualizáciu v 3D pomocou nástrojov ako Blender alebo Unity. Dôraz by sa kládol 
  na vytvorenie používateľsky prívetivého rozhrania na generovanie rôznorodých modelov stromov, použiteľných
   v hernom dizajne alebo virtuálnych prostrediach.</p>

<hr>

<h2>Zdroje a odkazy</h2>
<ul>
  <li><a href="https://dl.acm.org/doi/epdf/10.1145/3658206">Odkaz na článok</a></li>
</ul>

<h2>Priebežné výstupy</h2>
<ul>
  <li><a href="https://github.com/SamuelBlezak/Procedural-Generation-of-Tree-Models">Odkaz na GitHub (zdrojáky)</a></li>
  <li><a href="#">Screenshoty/Texty</a></li>
</ul>

<hr>

<h2>Denník (Týždenné aktualizácie)</h2>

{% for post in site.bachelor-seminar %}
  {% include archive-single.html %}
{% endfor %}
